<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <% for(var item in menu) { %>
        <a href="<%= menu[item].href %>"><%= menu[item].title %></a>
      <% }; %>
    </div>
  </body>
</html>
